<h1>BIRDS</h1>
<%= link_to "New Bird", new_bird_path %>
<hr>
<br>
<% @birds.each do |bird| %>
  Name: <%= bird.name %>
  <br>
  Color: <%= bird.color %>
  <br>
  Wingspan: <%= bird.wingspan %>
  <br>
  <%= link_to "Show Bird", bird_path(bird) %>
  <hr>
<% end %>
